<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="from-contorl" id="name" required [(ngModel)]="character.name" name="name" />
      </div>
      <div class="form-group">
        <label for="title">Status</label>
        <input type="text" class="from-contorl" id="status" required [(ngModel)]="character.status" name="status" />
      </div>
      <div class="form-group">
        <label for="title">Species</label>
        <input type="text" class="from-contorl" id="species" required [(ngModel)]="character.species" name="title" />
      </div>
      <div class="form-group">
        <label for="title">Gender</label>
        <input type="text" class="from-contorl" id="gender" required [(ngModel)]="character.gender" name="title" />
      </div>
      <div class="form-group">
        <label for="title">Origin</label>
        <input type="text" class="from-contorl" id="origin" required [(ngModel)]="character.origin" name="title" />
      </div>
      <div class="form-group">
        <label for="description">Location</label>
        <input class="from-contorl" id="description" required [(ngModel)]="character.location" name="description" />
      </div>
      <div class="form-group">
        <label for="description">Image</label>
        <input class="from-contorl" id="description" required [(ngModel)]="character.image" name="image" />
      </div>
      <button (click)="saveCharacter()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted" >
      <h4>Character ADDED!</h4>
      <button class="btn btn-success" (click)="newCharacter()">Add</button>
    </div>
  </div>
</div>
