<div class="list row">
  <div class="col-md-12">
      <h4>Character List</h4>

      <table class="table m-3">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col" style="min-width: 150px;">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let char of characters;">
                  <th scope="row">{{char.id}}</th>
                  <td><b>{{char.name}}</b></td>
                  <td>{{char.species}}</td>
                  <td>
                      <button type="button" class="btn btn-danger" routerLink="/book/{{char.id}}">Edit</button>
                      <button type="button" class="btn btn-warning" (click)="deleteCharacter()">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>

  </div>
</div>

<ng-template #espera>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border " style="width: 5rem; height: 5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
